{% extends "Pizza/base.html"%}


{% block content %}
<h1>
    <p>Pizza: {{ pizza }}</p>
</h1>

{% if pizza.image %}
<img src="{{pizza.image.url}}" class="img-thumbnail" style="max-height: 200px" alt="">
{% endif %}

<h2>
    <p>Toppings</p>
</h2>
<ul>
    {% for topping in toppings %}
    <li>
        <p>{{topping.name | linebreaks}}</p>
    </li>
    {% endfor %}
</ul>


<h2>
    <p>Comments</p>
</h2>
<ul>
    {% for comment in comments %}
    <li>
        <p>{{comment.date_added|date:'M d, Y H:i'}}</p>
        <p>{{comment.text | linebreaks}}
        <p>
    </li>
    {% endfor %}
</ul>

<p>
    <a href="{% url 'Pizza:new_comment' pizza.id %}">Add new comment</a>
</p>

{% endblock content %}